# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

.Rproj.user/
.RData
.Rhistory

.ipynb_checkpoints

.spyproject

.spyproject/

.spyproject/config/

# Data folder
Data/

Redundant Scripts
old_scripts/
